<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Student Dormitory</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index_style.css">
</head>
<body>
<header>
    <h4>Welcome To Student Dormitory</h4>
    <div id="user_name">
        <tr>
            <th id="user_name_style">用户名：</th>
        </tr>
        <tr>
            <td th:text="${user.username}"></td>
        </tr>
    </div>
</header>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/listStudent">List</a></li>
        <li><a href="/editStudent">Edit</a></li>
        <li><a href="/deleteStudent">Delete</a></li>
    </ul>
</nav>

<section>
    <div style="margin:0px auto; width:500px">

        <form action="updateStudent" method="post">

            name: <input name="name" th:value="${student.name}"/> <br/>

            <input name="id" type="hidden" th:value="${student.id}"/>
            <button type="submit">提交</button>

        </form>
    </div>
</section>

<aside>
    <p>dsadsadas</p>
</aside>

<footer>
    <p>CopyRight@</p>
</footer>
</body>
</html>