<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to my room</h1>
    <table>
        <tr>
            <!-- <td>用户名</td> <td th:text="${user.getUsername()}"></td>
            <td>性别</td> <td th:text="${user.getSex()}"></td>
            <td>邮箱</td> <td th:text="${user.getEmail()}"></td>
            <td>手机</td> <td th:text="${user.getPhone()}"></td> -->
        </tr>
    </table>
<script>

</script>
</body>
</html>